.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5vh;
    background: cornflowerblue;
    
}
.header>*{
    color: black;
    margin: 1rem;
}